<app-header></app-header>
<section class="container mx-auto px-6 py-8 space-y-10">
  <div>
    <div class="flex items-end justify-between gap-4">
      <div>
        <h2 class="text-xl font-semibold text-slate-800">
          {{ textos.titulo }}
        </h2>
        <p class="text-slate-500 text-sm">
          {{ textos.descricao }}
        </p>
      </div>
    </div>

    @if(livros.length > 0) {
    <div class="mt-4 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
      @for(livro of livros(); track $index) {
      <app-card-livro [livro]="livro"></app-card-livro>
      }
    </div>
    } @else {
    <app-lista-vazia [modulo]="EStatus.LENDO"></app-lista-vazia>
    }
  </div>
</section>
