@use '@angular/material' as mat;
@use '@angular/material/core/theming/palette' as mat-palette;

// Definindo paletas
$magenta-palette: mat.define-palette(mat-palette.$pink-palette);

// Criando tema claro baseado no magenta
$my-theme: mat.define-light-theme((
  color: (
    primary: $magenta-palette,
    accent: mat.define-palette(mat-palette.$indigo-palette),
    warn: mat.define-palette(mat-palette.$red-palette),
  )
));

// Inclui todos os estilos do tema
@include mat.all-component-themes($my-theme);

