<div
  class="p-6 grid gap-6 grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4"
>
  <div
    class="w-[220px] h-[320px] rounded-2xl shadow border border-slate-200 bg-white flex flex-col justify-between"
  >
    <div class="p-4">
      <h3 class="font-semibold text-slate-800 leading-snug">
        Angular Essencial
      </h3>
      <p class="text-sm text-slate-500">Rodrigo Branas</p>
    </div>

    <img
      class="h-[140px] w-full object-cover"
      src="URL_DA_CAPA"
      alt="Capa do livro"
    />

    <div class="p-4">
      <p class="text-[13px] text-slate-600 truncate line-clamp-2">
        Um guia prático para aprender Angular do zero ao avançado.
      </p>
      <div class="mt-3 flex gap-2">
        <button
          class="px-3 py-1.5 rounded-lg bg-brand text-brand-text hover:bg-brand-hover focus:outline-none focus:ring-2 focus:ring-brand-focus"
        >
          Ver detalhes
        </button>

        <button
          class="px-3 py-1.5 rounded-lg bg-brand-secondary text-white hover:bg-brand-secondaryHover"
        >
          Remover
        </button>
      </div>
    </div>
  </div>
</div>
