<app-header></app-header>
<!-- Tela: Capítulos do Livro (com opção de adicionar novo capítulo) -->
<section class="container mx-auto px-6 py-8 space-y-6">
  <!-- Cabeçalho -->
  <header class="flex items-center justify-between">
    <div>
      <h1 class="text-xl font-semibold text-slate-800">Capítulos</h1>
      <p class="text-sm text-slate-500">
        Visualize, expanda para editar, remova ou adicione novos capítulos.
      </p>
    </div>
  </header>

  <!-- Lista de capítulos -->
  @if(capitulos().length) {
  <div class="grid grid-cols-1 md:grid-cols-12 gap-3">
    <div class="md:col-span-4">
      <app-add-capitulo [livroId]="livroId()"></app-add-capitulo>
    </div>
    <div
      [ngClass]="
        !formEditarCapituloAberto() ? 'md:col-span-8' : 'md:col-span-4'
      "
    >
      <app-lista
        [livroId]="livroId()"
        [capitulos]="capitulos()"
        (editarCapitulo)="editar($event)"
      ></app-lista>
    </div>
    @if(formEditarCapituloAberto()){
    <div class="md:col-span-4">
      <app-edit-capitulo
        [capitulo]="capituloSelecionado()"
        (fecharForm)="fecharForm()"
      ></app-edit-capitulo>
    </div>
    }
  </div>

  } @else {
  <app-add-capitulo [livroId]="livroId()"></app-add-capitulo>

  <app-lista-vazia modulo="capitulos"></app-lista-vazia>
  }
</section>
