<app-header></app-header>
<section class="container mx-auto px-6 py-8">
  <header class="mb-6">
    <h1 class="text-2xl md:text-3xl font-semibold text-slate-800">
      Adicionar novo livro
    </h1>
    <p class="text-slate-500">Preencha os detalhes e adicione à sua estante.</p>
  </header>

  <form [formGroup]="form" (ngSubmit)="submit()" class="grid gap-2">
    <div class="grid grid-cols-1 sm:grid-cols-3 gap-4">
      <div>
        <label class="block text-sm font-medium text-slate-700">Título *</label>
        <input
          type="text"
          formControlName="titulo"
          class="mt-1 w-full rounded-xl border border-slate-300 px-3 py-2 focus:outline-none focus:ring-2 focus:ring-fuchsia-300"
          placeholder="Ex.: Dom Casmurro"
        />
        @if (form.get('titulo')?.touched && form.get('titulo')?.invalid) {
        <p class="mt-1 text-sm text-rose-600">Campo obrigatório</p>
        }
      </div>

      <div>
        <label class="block text-sm font-medium text-slate-700">Autor *</label>
        <select
          formControlName="autorId"
          class="mt-1 w-full rounded-xl border border-slate-300 px-3 py-2 focus:outline-none focus:ring-2 focus:ring-fuchsia-300"
        >
          <option value="">Selecione...</option>
          @for(autor of autores; track $index) {
          <option [value]="autor.id">{{ autor.nome }}</option>
          }
        </select>
        @if (form.get('autorId')?.touched && form.get('autorId')?.invalid) {
        <p class="mt-1 text-sm text-rose-600">Campo obrigatório</p>
        }
      </div>
      <div>
        <label class="block text-sm font-medium text-slate-700"
          >Categoria *</label
        >
        <select
          formControlName="categoriaId"
          class="mt-1 w-full rounded-xl border border-slate-300 px-3 py-2 focus:outline-none focus:ring-2 focus:ring-fuchsia-300"
        >
          <option value="">Selecione...</option>
          @for(categoria of categorias; track $index) {
          <option [value]="categoria.id">{{ categoria.nome }}</option>
          }
        </select>
      </div>
    </div>

    <div class="grid grid-cols-1 sm:grid-cols-3 gap-4">
      <div>
        <label class="block text-sm font-medium text-slate-700">Ano *</label>
        <input
          type="number"
          formControlName="ano"
          min="1800"
          step="1"
          inputmode="numeric"
          class="mt-1 w-full rounded-xl border border-slate-300 px-3 py-2 focus:outline-none focus:ring-2 focus:ring-fuchsia-300"
          placeholder="AAAA"
        />
        @if (form.get('ano')?.touched && form.get('ano')?.invalid) {
        <p class="mt-1 text-sm text-rose-600">Campo obrigatório</p>
        }
      </div>
      <div>
        <label class="block text-sm font-medium text-slate-700">Páginas</label>
        <input
          type="number"
          min="1"
          formControlName="paginas"
          class="mt-1 w-full rounded-xl border border-slate-300 px-3 py-2 focus:outline-none focus:ring-2 focus:ring-fuchsia-300"
          placeholder="Ex.: 320"
        />
        @if (form.get('paginas')?.touched && form.get('paginas')?.invalid) {
        <p class="mt-1 text-sm text-rose-600">Campo obrigatório</p>
        }
      </div>

      <div>
        <label class="block text-sm font-medium text-slate-700">Status *</label>
        <select
          formControlName="status"
          (change)="onChangeStatus()"
          class="mt-1 w-full rounded-xl border border-slate-300 px-3 py-2 bg-white focus:outline-none focus:ring-2 focus:ring-fuchsia-300"
        >
          @for(status of statusOptions; track $index) {
          <option [value]="status.option">{{ status.label }}</option>
          }
        </select>
      </div>
    </div>

    <div
      class="grid grid-cols-1 sm:grid-cols-{{
        form.get('status')?.value !== 'desejo' ? 2 : 1
      }} gap-4"
    >
      <div>
        <label class="block text-sm font-medium text-slate-700"
          >Descrição / Notas</label
        >
        <textarea
          rows="7"
          formControlName="descricao"
          class="mt-1 w-full rounded-xl border border-slate-300 px-3 py-2 focus:outline-none focus:ring-2 focus:ring-fuchsia-300"
          placeholder="Impressões, quotes, por que entrou na lista…"
        ></textarea>
      </div>

      <div class="flex flex-col gap-2">
        @if (form.get('status')?.value !== 'desejo') {

        <div>
          <label class="block text-sm font-medium text-slate-700"
            >Início *</label
          >
          <input
            type="number"
            formControlName="anoInicio"
            min="2019"
            [max]="currentYear"
            step="1"
            inputmode="numeric"
            class="mt-1 w-full rounded-xl border border-slate-300 px-3 py-2 focus:outline-none focus:ring-2 focus:ring-fuchsia-300"
            placeholder="AAAA"
          />
          @if (form.get('anoInicio')?.touched && form.get('anoInicio')?.invalid)
          {
          <p class="mt-1 text-sm text-rose-600">
            {{
              (form.get("anoInicio")?.errors)!["min"]
                ? "Deve ser igual ou superior a 2019"
                : "Campo obrigatório"
            }}
          </p>
          }
        </div>
        } @if(form.get('status')?.value !== 'desejo' &&
        form.get('status')?.value !== 'lendo') {
        <div>
          <label class="block text-sm font-medium text-slate-700"
            >Término *</label
          >
          <input
            type="number"
            formControlName="anoFim"
            [min]="form.get('anoInicio')?.value"
            step="1"
            inputmode="numeric"
            class="mt-1 w-full rounded-xl border border-slate-300 px-3 py-2 focus:outline-none focus:ring-2 focus:ring-fuchsia-300"
            placeholder="AAAA"
          />
          @if (form.get('anoFim')?.touched && form.get('anoFim')?.invalid) {
          <p class="mt-1 text-sm text-rose-600">
            {{
              (form.get("anoFim")?.errors)!["min"]
                ? "Deve ser superior ao início"
                : "Campo obrigatório"
            }}
          </p>
          }
        </div>
        }
      </div>
    </div>

    <div class="pt-2 flex gap-3">
      <button
        type="submit"
        class="px-4 py-2 rounded-xl bg-fuchsia-600 text-white font-medium hover:bg-fuchsia-700"
      >
        Salvar
      </button>
      <a
        [routerLink]="['/livros']"
        class="px-4 py-2 rounded-xl border border-slate-300 text-slate-700 hover:bg-slate-50"
      >
        Cancelar
      </a>
    </div>
  </form>
</section>
