<div class="rounded-2xl border border-slate-200 bg-white shadow-sm p-5 mt-6">
  <h3 class="text-slate-800 font-semibold mb-2">Acompanhar progresso</h3>
  <a
    class="text-fuchsia-700 hover:underline text-sm"
    [routerLink]="['/progresso', this.livroId()]"
  >
    Visualizar progresso
  </a>

  <div class="flex gap-2 mt-4">
    @if (podeIniciarLeitura()) {

    <button
      (click)="iniciarLeitura()"
      class="w-[100vw] px-4 py-2 rounded-xl bg-fuchsia-600 text-white font-medium hover:bg-fuchsia-700"
    >
      Iniciar leitura
    </button>
    }@if (leituraPausada()) {

    <button
      (click)="iniciarLeitura()"
      class="w-[100vw] px-4 py-2 rounded-xl bg-fuchsia-600 text-white font-medium hover:bg-fuchsia-700"
    >
      Continuar leitura
    </button>
    } @if(podePausarLeitura()) {
    <button
      (click)="pausarLeitura()"
      class="w-[100vw] px-4 py-2 rounded-xl bg-fuchsia-600 text-white font-medium hover:bg-fuchsia-700"
    >
      Pausar leitura
    </button>
    } @if(this.podeFinalizarLeitura()) {
    <button
      (click)="finalizarLeitura()"
      class="w-[100vw] px-4 py-2 rounded-xl bg-fuchsia-600 text-white font-medium hover:bg-fuchsia-700"
    >
      Finalizar leitura
    </button>
    }
  </div>
</div>
