<app-header></app-header>
<section class="container mx-auto px-6 py-10">
  <header class="mb-6">
    <h1 class="text-2xl md:text-3xl font-semibold text-slate-800">Autores</h1>
    <p class="text-slate-500">Escolha uma opção para gerenciar seus autores.</p>
  </header>
  <div class="mt-8 grid grid-cols-1 md:grid-cols-2 gap-6">
    <a
      [routerLink]="['/autores/lista']"
      class="rounded-2xl border border-slate-200 bg-white hover:shadow-md transition overflow-hidden"
    >
      <div class="h-2 bg-gradient-to-r from-fuchsia-600 to-violet-600"></div>
      <div class="p-5">
        <h2 class="text-lg font-semibold text-slate-800">Ver todos</h2>
        <p class="text-slate-500 text-sm">
          Navegue, filtre e veja o total de livros por autor.
        </p>
      </div>
    </a>

    <a
      [routerLink]="['/autores/nova']"
      class="rounded-2xl border border-slate-200 bg-white hover:shadow-md transition overflow-hidden"
    >
      <div class="h-2 bg-gradient-to-r from-violet-600 to-fuchsia-600"></div>
      <div class="p-5">
        <h2 class="text-lg font-semibold text-slate-800">Cadastrar novo</h2>
        <p class="text-slate-500 text-sm">Crie uma autor.</p>
      </div>
    </a>
  </div>
  <br />

  <router-outlet></router-outlet>
</section>
